body {
	background-color: lightgray;
}
#header {
	/*background-color: rgba(114,43,4,1);*/
	background-color: #67666b;
	border-bottom: 3px white double;
	border-left: 2em dotted #293948;
	border-right: 2em dotted #293948;
}
#photoHeader {
	background-color: rgba(114,43,4,1);
}
h1 {
	color: white;
	font-family: 'PT Serif', serif;
	padding: 1.7em 0 0 0;
	text-align: center;
	font-size: 3.5em;
}
h2 {
	color: white;
	font-family: 'PT Serif', serif;
	font-size: 1.5em;
	padding: 0 0 5% 0;
	text-align: center;
}
h3 {
	font-size: 2.4em;
}
.social {
	height: 56px;
}

#purchaseLinks {
	/*padding: 1em;*/
}
.socialIcons {
	width: 70px;
	padding: 0 1em 0 1em;
	/*margin-top: -2.5em;*/
}
/*Purchase icons padding in queries below*/
.purchaseIcons {
	width: 60px;
	padding: 1em 1em 0 1em;
}
#darkStarImg {
	/* width was 90% from last edit. Adjusted pic to even height to div */
	width: 60%;
}
#darkStarPos {
	text-align: center;
}
#darkStarDiv {
	/*background-color: rgb(255,245,226);	*/
	background-color: #031424;
	color: #ddd;
	border-top: 3px double rgba(114,41,4,1);
	/*border-bottom: 3px double rgba(114,41,4,1);*/
	border-bottom: 3px double white;
	padding: 1em;
}
#descriptionStar {
	padding: 0 2em 0 2em;
}

#fadingMoonsDiv {
	background-color: #30415d;
	color: #ddd;
}
#fadingMoonsImg {
	width: 60%;
}
#descriptionMoons {
	padding: 0 2em 0 2em;
}
.purchaseMoons a {
	/*width: 100px;*/
	/*font-family: 'Seaweed Script', cursive;*/
	/*font-size: 2em;*/
	/*padding: 1em;*/
	/*color: #e2cd58;*/
}
.purchaseMoonIcons {
	width: 60px;
	padding: 1em 1em 0 1em;
}
#barnesIconMoon {
	/*width: 80px;*/
}
.noWrap {
	white-space: nowrap;
}
#footer {
	/*background-color: rgba(114,43,4,1);*/
	background-color: #5a5863;
	/*height: 100px;*/
	border-top: 3px double white;
}
#footer a {
	color: #eee;
}
#footLinks {
	padding-top: 2em;
}
#meet {
	display: block;
	margin-bottom: 0;
}
#contact {
	/*color: black;*/
}



/* SHARED QUERIES ARE LOCATED ON SKELETON CSS (headers/footers,etc) */
/* Larger than mobile */
@media (min-width: 375px) {
	h1 {
		padding-top: 1em;
		font-size: 2.1em;
	}
	#footLinks {
		padding-top: 1em;
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	
}

/* Larger than tablet */
@media (min-width: 750px) {
	h1 {
		padding-top: 1.2em;
		font-size: 3.5em;
	}
	.purchaseIcons {
		padding: 1em 1em 0 1em;
	}
	#footer {
		height: 90px;
	}
	#meet {
		display: inline;
	}
	#footLinks {
		padding-top: 2.2em;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.purchaseIcons {
	padding: 1em 1em 0 1em;
	}

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.purchaseIcons {
		padding: 1em 1em 0 1em;
	}
}